@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.button {
    color: #fff;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    width: 280px;
    padding: 12px 0;
    margin: 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: .3s ease;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
}

.button::before{
    content: '';
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 60px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(45deg);
    transition: .5s ease-in-out;
}

.button:hover {
    color: darken(#fff, 20%);
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
}

.button:hover::before{
    left: 295px;
}